@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700&display=swap');
@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
  --brand-primary: #8055fe;
  --brand-primary-hover: #734de5;
  --brand-primary-light: #9977FE;
  --brand-dark: #001b5f;
  --brand-secondary: #4d5f8f;
  --neutral-800: #4c4c4c;
  --neutral-500: #8f8f8f;
  --neutral-stroke: #dfdfdf;
  --neutral-50: #f5f5f5;
  --primary-0: #f2edff;
  --brand-soft: #f2edff;
  --dark-blue-300:#99A4BF;
  --dark-blue-50:#E6E8EF;
  --green-600:#34B443;
  --red-500:#F32020;
  --font-main: 'Baloo 2', cursive;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-primary: var(--brand-primary);
  --color-brand-primary-hover: var(--brand-primary-hover);
  --color-brand-primary-light: var(--brand-primary-light);
  --color-brand-dark: var(--brand-dark);
  --color-brand-secondary: var(--brand-secondary);
  --color-neutral-800: var(--neutral-800);
  --color-neutral-500: var(--neutral-500);
  --color-neutral-stroke: var(--neutral-stroke);
  --color-neutral-50: var(--neutral-50);
  --color-primary-0: var(--primary-0);
  --color-brand-soft: var(--brand-soft);
  --color-dark-blue-300: var(--dark-blue-300);
  --color-dark-blue-50: var(--dark-blue-50);
  --color-green-600: var(--green-600);
  --color-red-500: var(--red-500);
  --font-sans: var(--font-main);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-main);
}